In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [2]:
#load the datset 

data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
#preprocess data and drop irrelevnat feature

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
#we will encode geography and gender as they are categorical values 
# will encode geography usoing LabelEncoder and geography using one hot encoding

label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [5]:
# now using OHE for converting geography

from sklearn.preprocessing import OneHotEncoder
ohe_geo=OneHotEncoder()
geo_encoder=ohe_geo.fit_transform(data[['Geography']])
#now we wil convert this intoi df and merge with original dataframe also

geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=ohe_geo.get_feature_names_out(["Geography"]))
#giving array as data and feature names as columns

geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
#now merging with data frame

data=pd.concat([data.drop("Geography",axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
#split data into features and target

X=data.drop("EstimatedSalary",axis=1)   #independent features
Y=data["EstimatedSalary"]

In [8]:
#splitting into training and testing data

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

#scale the features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [9]:
#saving encoders and sscaler filr

with open('label_encoder_gender.pkl','wb') as file:
  pickle.dump(label_encoder_gender,file)

with open('ohe_geo.pkl','wb') as file:
  pickle.dump(ohe_geo,file)

#saving scaler filr

with open('scaler.pkl','wb') as file:
  pickle.dump(scaler,file)

#TRAIN ANN WITH REGRESSION STATEMENT

In [10]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\priyanshu gairola\GEn_ai Project\ANN Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [11]:
#BUILD ANN MODEL

model=Sequential([
  Dense(64,activation='relu',input_shape=(X_train.shape[1],)) , # connecting first hidden layer with input
  Dense(32,activation='relu'),
  Dense(1) #output layer for regression , here default func applied i.e linear which is for regression only
]
)

WARNING:tensorflow:From c:\Users\priyanshu gairola\GEn_ai Project\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [20]:
#compile the model

model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
#setup tensoreboard

from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

log_dir="regressionlogs/fit/"+datetime.datetime.now().strftime("%Y%M%D-%H%M%S")

tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
# srtup earlystopping

earlystopping_callback=EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [23]:
#Train the model

history=model.fit(X_train,Y_train,
                  validation_data=(X_test,Y_test),
                  epochs=100,
                  callbacks=[tensorboard_callback,earlystopping_callback])

Epoch 1/100
WARNING:tensorflow:From c:\Users\priyanshu gairola\GEn_ai Project\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\priyanshu gairola\GEn_ai Project\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 3s 6ms/step - loss: 100392.3203 - mae: 100392.3203 - val_loss: 98571.6875 - val_mae: 98571.6875
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99815.2266 - mae: 99815.2266 - val_loss: 97379.4766 - val_mae: 97379.4766
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 97714.9688 - mae: 97714.9688 - val_loss: 94267.4375 - val_mae: 94267.4375
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 93505.4922 - mae: 93505.4922 - val_loss: 88936.6797 - val_mae: 88936.6797
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 87197.3359 - mae: 87197.3359 - val_loss: 81785.1172 - val_mae: 81785.1172
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 79338.2734 - mae: 79338.2734 - val_loss: 73685.7422 - val_mae: 73685.7422
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 71077.0547 - mae: 71077.0547 - val_loss: 66055.6953 - val_mae: 66055.6953
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 63644.1914 - mae: 63644.1914 - val_loss: 59707.0547 - val_mae: 59707.0547
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 57928.0469 - mae: 57928.0469 - val_loss: 55247.7969 - val_mae: 55247.7969
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 54236.8828 - mae: 54236.8828 - val_loss: 52751.4570 - val_mae: 52751.4570
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 52065.3164 - mae: 52065.3164 - val_loss: 51564.2773 - val_mae: 51564.2773
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 51005.0625 - mae: 51005.0625 - val_loss: 51051.1836 - val_mae: 51051.1836
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50536.7930 - mae: 50536.7930 - val_loss: 50835.8789 - val_mae: 50835.8789
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50296.3750 - mae: 50296.3750 - val_loss: 50726.4883 - val_mae: 50726.4883
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50174.7031 - mae: 50174.7031 - val_loss: 50662.2539 - val_mae: 50662.2539
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50094.8477 - mae: 50094.8477 - val_loss: 50623.5898 - val_mae: 50623.5898
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50041.9258 - mae: 50041.9258 - val_loss: 50583.0391 - val_mae: 50583.0391
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49991.6562 - mae: 49991.6562 - val_loss: 50552.7617 - val_mae: 50552.7617
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49951.5586 - mae: 49951.5586 - val_loss: 50527.2617 - val_mae: 50527.2617
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49914.7930 - mae: 49914.7930 - val_loss: 50495.5039 - val_mae: 50495.5039
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 49881.1445 - mae: 49881.1445 - val_loss: 50475.7969 - val_mae: 50475.7969
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49853.5703 - mae: 49853.5703 - val_loss: 50453.8672 - val_mae: 50453.8672
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49828.0938 - mae: 49828.0938 - val_loss: 50429.7578 - val_mae: 50429.7578
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49805.6797 - mae: 49805.6797 - val_loss: 50416.1367 - val_mae: 50416.1367
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49779.8438 - mae: 49779.8438 - val_loss: 50404.3320 - val_mae: 50404.3320
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49758.8125 - mae: 49758.8125 - val_loss: 50398.8594 - val_mae: 50398.8594
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49738.8672 - mae: 49738.8672 - val_loss: 50391.2383 - val_mae: 50391.2383
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49721.2188 - mae: 49721.2188 - val_loss: 50368.2656 - val_mae: 50368.2656
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49705.8594 - mae: 49705.8594 - val_loss: 50366.8633 - val_mae: 50366.8633
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49687.8594 - mae: 49687.8594 - val_loss: 50345.9531 - val_mae: 50345.9531
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49673.5469 - mae: 49673.5469 - val_loss: 50343.5586 - val_mae: 50343.5586
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49658.4844 - mae: 49658.4844 - val_loss: 50331.2383 - val_mae: 50331.2383
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49646.8945 - mae: 49646.8945 - val_loss: 50329.7539 - val_mae: 50329.7539
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49633.6953 - mae: 49633.6953 - val_loss: 50338.7852 - val_mae: 50338.7852
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49622.6680 - mae: 49622.6680 - val_loss: 50330.0352 - val_mae: 50330.0352
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49612.6250 - mae: 49612.6250 - val_loss: 50318.2109 - val_mae: 50318.2109
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49598.5859 - mae: 49598.5859 - val_loss: 50321.7188 - val_mae: 50321.7188
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49590.9062 - mae: 49590.9062 - val_loss: 50314.2852 - val_mae: 50314.2852
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49579.6719 - mae: 49579.6719 - val_loss: 50300.9336 - val_mae: 50300.9336
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49570.0898 - mae: 49570.0898 - val_loss: 50304.1602 - val_mae: 50304.1602
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49560.2578 - mae: 49560.2578 - val_loss: 50302.1016 - val_mae: 50302.1016
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49552.1523 - mae: 49552.1523 - val_loss: 50287.5898 - val_mae: 50287.5898
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49544.1797 - mae: 49544.1797 - val_loss: 50286.3711 - val_mae: 50286.3711
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49536.4727 - mae: 49536.4727 - val_loss: 50283.2344 - val_mae: 50283.2344
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49530.5469 - mae: 49530.5469 - val_loss: 50264.4570 - val_mae: 50264.4570
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49523.3984 - mae: 49523.3984 - val_loss: 50276.6211 - val_mae: 50276.6211
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49514.7109 - mae: 49514.7109 - val_loss: 50260.8789 - val_mae: 50260.8789
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49508.2109 - mae: 49508.2109 - val_loss: 50261.3281 - val_mae: 50261.3281
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 49500.2617 - mae: 49500.2617 - val_loss: 50260.4688 - val_mae: 50260.4688
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49494.1953 - mae: 49494.1953 - val_loss: 50256.1953 - val_mae: 50256.1953
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49490.8828 - mae: 49490.8828 - val_loss: 50257.9453 - val_mae: 50257.9453
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49483.2305 - mae: 49483.2305 - val_loss: 50255.2344 - val_mae: 50255.2344
Epoch 53/100
250/250 [==============================] - 1s 5ms/step - loss: 49477.9141 - mae: 49477.9141 - val_loss: 50252.2070 - val_mae: 50252.2070
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49472.6641 - mae: 49472.6641 - val_loss: 50263.6211 - val_mae: 50263.6211
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49468.4648 - mae: 49468.4648 - val_loss: 50260.8320 - val_mae: 50260.8320
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49465.0156 - mae: 49465.0156 - val_loss: 50263.1758 - val_mae: 50263.1758
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49454.3984 - mae: 49454.3984 - val_loss: 50253.8359 - val_mae: 50253.8359
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49453.9609 - mae: 49453.9609 - val_loss: 50260.4570 - val_mae: 50260.4570
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49447.2070 - mae: 49447.2070 - val_loss: 50254.9844 - val_mae: 50254.9844
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49441.2383 - mae: 49441.2383 - val_loss: 50258.5156 - val_mae: 50258.5156
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49436.8203 - mae: 49436.8203 - val_loss: 50262.4727 - val_mae: 50262.4727
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49435.9727 - mae: 49435.9727 - val_loss: 50268.8086 - val_mae: 50268.8086
Epoch 63/100
250/250 [==============================] - 1s 4ms/step - loss: 49430.4766 - mae: 49430.4766 - val_loss: 50267.1992 - val_mae: 50267.1992

In [24]:
#load tensorboard extension

%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 5784), started 0:00:11 ago. (Use '!kill 5784' to kill it.)

In [28]:
##evalute model for test data

test_loss,test_mae=model.evaluate(X_test,Y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50252.2070 - mae: 50252.2070
Test MAE:50252.20703125

In [30]:
model.save('regression_model.h5')